HIS/force-app/main/default/flows/Hotel_Taj.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>More_Quantity</name>
        <label>More Quantity</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectforEmailQuantity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailForMoreQuantity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>NewOppo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Action_2</name>
        <label>Send Email Action 2</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectForLessQuantity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailWithLessQuantity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>NewOppo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <constants>
        <name>AdminId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005dM000000dM0B</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Quantity</name>
        <label>Check Quantity</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quantity_less_than_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quantity</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Action_2</targetReference>
            </connector>
            <label>Quantity less than 3</label>
        </rules>
        <rules>
            <name>Quantity_More_than_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>More_Quantity</targetReference>
            </connector>
            <label>Quantity More than 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>Quantity</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Availabe_Rooms.Total_Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Booking_Completed</targetReference>
            </connector>
            <label>Room Available</label>
        </rules>
    </decisions>
    <description>With Email and sales price</description>
    <dynamicChoiceSets>
        <name>ChooseProducts</name>
        <collectionReference>GetProducts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Product2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Hotels_Rooms_MultiPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rooms__c</picklistField>
        <picklistObject>Hotel_Taj__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Products</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Family</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductRooms</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rooms</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordSet_Products</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rooms</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FullName</name>
        <dataType>String</dataType>
        <expression>{!Name.firstName}+{!Name.lastName}</expression>
    </formulas>
    <formulas>
        <name>RoomPrice</name>
        <dataType>Number</dataType>
        <expression>{!GetPriceBookName.UnitPrice} * {!Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Hotel Taj {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hotel Taj</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>NewContact</name>
        <label>NewContact</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>NewOppo</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Contact.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Name.salutation</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>NewOppo</name>
        <label>NewOppo</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>NewOppoProd</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>NewContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>NewContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reservation_End_Date__c</field>
            <value>
                <elementReference>Reservation_End</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reservation_Start_Date__c</field>
            <value>
                <elementReference>Reservation_Start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>NewOppoProd</name>
        <label>NewOppoProd</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Check_Quantity</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOppo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>GetPriceBookName.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Available_Rooms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>GetPriceBookName.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Availabe_Rooms</name>
        <label>Availabe Rooms</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPriceBookName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rooms</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Available_Rooms</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPriceBookName</name>
        <label>GetPriceBookName</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01sdM000005Ty4LQAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Available_Rooms</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProducts</name>
        <label>GetProducts</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hotel_Taj</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rooms</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Total_Quantity__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Booking_Completed</name>
        <label>Booking Completed</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>NewContact</targetReference>
        </connector>
        <fields>
            <name>FinalName</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Name: {!Name.salutation}&lt;/span&gt;{!Name.firstName}{!Name.lastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FinalEmail</name>
            <fieldText>&lt;p&gt;Email: {!Email.value}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FinalAadhaar</name>
            <fieldText>&lt;p&gt;Aadhaar No: {!Aadhaar_Card}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FinalStart</name>
            <fieldText>&lt;p&gt;Start Date: {!Reservation_Start}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FinalEnd</name>
            <fieldText>&lt;p&gt;End Date: {!Reservation_End}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FinalRoom</name>
            <fieldText>&lt;p&gt;Room: {!Available_Rooms}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FinalQuantity</name>
            <fieldText>&lt;p&gt;Quantity: {!Quantity}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Finalprice</name>
            <fieldText>&lt;p&gt;Price: {!RoomPrice}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Book</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Hotel_Taj</name>
        <label>Hotel Taj</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Rooms</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>firstName,lastName,salutation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salutationOptions</name>
                <value>
                    <stringValue>Mr.,Mrs.,Ms,Dr,Prof</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Contact</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Enter a valid phone number&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX( {!Contact.value}, &quot;^\\+91\\s\\d{5}\\s\\d{5}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Reservation_Start</name>
            <dataType>Date</dataType>
            <fieldText>Reservation Start</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reservation_End</name>
            <dataType>Date</dataType>
            <fieldText>Reservation End</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Aadhaar_Card</name>
            <dataType>String</dataType>
            <fieldText>Aadhaar Card</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Enter Correct Aadhaar Number&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX ({!Aadhaar_Card},&quot;^\\d{4}\\s\\d{4}\\s\\d{4}$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Rooms</name>
        <label>Select Rooms</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Availabe_Rooms</targetReference>
        </connector>
        <fields>
            <name>Available_Rooms</name>
            <choiceReferences>ChooseProducts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Available Rooms</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Book</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update</name>
        <label>Update</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Rooms</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Rooms: {!Available_Rooms}&lt;/p&gt;&lt;p&gt;Available Quantity: {!Availabe_Rooms.Total_Quantity__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Select Rooms</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetProducts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailForMoreQuantity</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!FullName},
Your request for {!Quantity} {!GetPriceBookName.Name} room reservation currently under review and awaiting manager approval. You will receive a confirmation email shortly.
Thank you for choosing Taj Hotel.</text>
    </textTemplates>
    <textTemplates>
        <name>EmailWithLessQuantity</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!FullName},
We are pleased to confirm your room reservation at Taj Hotel. The details of your stay are as follows:
Room: {!GetPriceBookName.Name}
Quantity: {!Quantity}
Check-in date: {!Reservation_Start}
Check-out date: {!Reservation_End}
Please note that this confirmation is for your reference only. If you have any questions or concerns, please do not hesitate to contact us.
Thank you for choosing Taj Hotel.</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectforEmailQuantity</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Room Request is Under Review - Taj Hotel</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectForLessQuantity</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Booking Conformed At Taj Hotels.</text>
    </textTemplates>
    <variables>
        <name>GetOppoProd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>GetProductsVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
