HIS/force-app/main/default/flows/QR_code_Scanner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>QR code Scanner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QR code Scanner subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Scanner</name>
        <label>Scanner</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Order_In</targetReference>
        </connector>
        <fields>
            <name>QR_Scanner</name>
            <extensionName>c:barcodeScanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Scanner</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Order_In</name>
        <label>Order-In</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <flowName>Hotel_Taj_Menu</flowName>
        <inputAssignments>
            <name>OppoID</name>
            <value>
                <elementReference>QR_Scanner.scannedBarcode</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
