HIS/force-app/main/default/flows/Update_Total_Quantity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_Approval_Action_1</name>
        <label>Submit for Approval Action 1</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>534</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ProdID_VariableFormLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quantity_VariablefromLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdTotalQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Product2.Total_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Room_Availability</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Room_Availability</name>
        <label>Room Availability</label>
        <locationX>534</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Room_Substract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospecting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_total_quantity</targetReference>
            </connector>
            <label>Room Substract</label>
        </rules>
        <rules>
            <name>Add_Room</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Check-OUT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ADD_to_update_total_quantity</targetReference>
            </connector>
            <label>Add Room</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Booking_More_than_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Count__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospecting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval_Action_1</targetReference>
            </connector>
            <label>Booking More than 4</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Addrooms</name>
        <dataType>Number</dataType>
        <expression>{!ProdTotalQuantity} + {!Quantity_VariablefromLoop}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Deductrooms</name>
        <dataType>Number</dataType>
        <expression>{!ProdTotalQuantity} - {!Quantity_VariablefromLoop}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Total Quantity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Total Quantity 2</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Products_form_OppoProd</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Submit_for_Approval</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Products_form_OppoProd</name>
        <label>Get Products form OppoProd</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ADD_to_update_total_quantity</name>
        <label>ADD to update total quantity</label>
        <locationX>534</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rooms</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_1.Product2.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_1.Product2Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Quantity__c</field>
            <value>
                <elementReference>Addrooms</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_total_quantity</name>
        <label>update total quantity</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rooms</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_1.Product2.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProdID_VariableFormLoop</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Quantity__c</field>
            <value>
                <elementReference>Deductrooms</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Products_form_OppoProd</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PriceBookEntriesID_Loop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProdID_VariableFormLoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProdTotalQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Quantity_VariablefromLoop</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
